@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family:'Inter',sans-serif ;
    width: 80%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}

.news_all{
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap :20px;

}
.news{
    max-width: 500px;
    padding: 30px;
    border: 1px solid gray;
    border-radius: 5px;
}

.news_title{
    /* font-size: 30px; */
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}

.news_desc{
    padding-top: 10px;
    line-break: 25px;
    font-size: 15px;
    
}

.news_author{
    margin-right: 10px;
    color: purple;
}
.news_publish{
    margin-right: 10px;
}
